html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

}
.form-container {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.github-svg path {
  fill: gray;
  transition: fill 0.3s;
}

.github-icon:hover .github-svg path {
  fill: #181717;
}