@model EnglishWordsLearning.Models.User;

<div class="card mt-5">
    <div class="card-header bg-primary text-white">
        <h2>User Profile: @Model.Username</h2>
    </div>
    <div class="card-body">
        <p class="card-text"><strong>Full Name:</strong> </p>
        <p class="card-text"><strong>Email:</strong> </p>
    </div>
</div>