@{
    ViewData["Title"] = "Words";
}
@model IEnumerable<EnglishWordsLearning.Models.WordViewModel>

<h2>Words</h2>

@foreach (var word in Model)
{
    <p>@word.Russian - @word.English (@word.Level)</p>
}

<a asp-action="AddWord">Add New Word</a>
