@model EnglishWordsLearning.Models.SignInViewModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign In</title>
</head>
<body>
<form asp-controller="Access" asp-action="SignIn" method="post">
    <h1>Sign In</h1>
    <input type="username" placeholder="Username" asp-for="Username"/>
    <input type="password" placeholder="Password" asp-for="Password"/>
    
    <label>
        <input type="checkbox" asp-for="KeepLoggedIn"/>
        Keep me logged In.
    </label>
    <button type="submit">Sign In</button>
    
    @if (ViewData["ValidateMessage"] != null)
    {
        <br/>
        <label>@ViewData["ValidateMessage"]</label>
    }

</form>

</body>
</html>