@model EnglishWordsLearning.Models.SignInViewModel;

@{
    ViewData["Title"] = "Sign In";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container centered-form">
    <div class="form-container">
        <form asp-controller="Access" asp-action="SignIn" method="post">
            <h1 class="text-center">Sign In</h1>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input type="text" class="form-control" placeholder="Username" asp-for="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" class="form-control" placeholder="Password" asp-for="Password" id="inputPassword" />
                <input type="checkbox" onclick="showPassword()"/> Show
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="KeepLoggedIn" />
                <label class="form-check-label" asp-for="KeepLoggedIn">Keep me logged in</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>

            @if (ViewData["ValidateMessage"] != null)
            {
                <div class="alert alert-danger mt-3">@ViewData["ValidateMessage"]</div>
            }
        </form>
        <div class="text-center mt-3">
            <p>Don't have an account? <a asp-controller="Access" asp-action="SignUp">Sign Up</a></p>
        </div>
    </div>
</div>

