@model EnglishWordsLearning.Models.User;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <b>@ViewBag.Username</b></h1>
    <p>Learn English words with us</p>
</div>
