@model EnglishWordsLearning.Models.User;

<div class="card mt-5">
    <div class="card-header bg-primary text-white">
        <h2>Username: @Model.Username</h2>
    </div>
    <div class="card-body">
        <p class="card-text"><strong>Full Name: @Model.FirstName @Model.LastName</strong> </p>
        <p class="card-text"><strong>Email: @Model.Email</strong> </p>
    </div>
</div>