@model EnglishWordsLearning.Models.WordViewModel

<h2>Add Word</h2>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<form asp-action="AddWord" method="post">
    <div>
        <label for="russian">Russian Word</label>
        <input type="text" id="russian" asp-for="Russian" />
    </div>
    <div>
        <label for="english">English Word</label>
        <input type="text" id="english" asp-for="English" />
    </div>
    <div>
        <label for="level">Level</label>
        <select id="level" asp-for="Level">
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="B1">B1</option>
            <option value="B2">B2</option>
            <option value="C1">C1</option>
            <option value="C2">C2</option>
        </select>
    </div>
    <button type="submit">Add Word</button>
</form>